html {
	font-family: 'Apple SD Gothic Neo', Roboto, 'Noto Sans KR', NanumGothic, 'Malgun Gothic', sans-serif;
	color: #555;
	line-height: 1.2;
	word-wrap: break-word;
}
body {
	background: #eee;
	-webkit-font-smoothing: antialiased;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
div, span, article, section, header, footer, aside, p, ul, li, fieldset, legend, label, a, nav, form {
	box-sizing: border-box;
	/* content-box */
}
ol, ul, li {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
	max-width: 100%;
	height: auto;
	border: 0;
}
a {
	display: inline-block;
}
button {
	border: 0;
	background: transparent;
	cursor: pointer;
}


/* sidebar */
.sidebar {
	display: flex;
	flex-direction: column;
	background: white;
	width: 240px;
}

.section {
	display: flex;
	flex-direction: column;
	padding: 10px 0;
	border-bottom: 1px solid #606060;
}

.subscription, .more-info {
	display: flex;
	height: 40px;
	padding: 0 20px;
	align-items: center;
	color: #606060;
	font-size: 14px;
	font-weight: 500;
}

.fa, .icon {
	height: 24px;
	width: 24px;
	margin-right: 24px;
	fill: #606060;
}

.circle-icon {
	height: 24px;
	width: 24px;
	margin-right: 24px;
	border-radius: 50%;
}

.sidebar-item {
	display: flex;
	height: 40px;
	padding: 0 20px;
	align-items: center;
	color: #606060;
	text-decoration: none;
	font-size: 14px;
	font-weight: 400;
}

.sidebar-item:hover {
	background: #F2F2F2;
}

.sidebar-item:active {
	background: #E5E5E5;
}

.item-name {
	color: #606060;
	overflow-x: hidden;
	overflow-y: hidden;
}

.guide-link {
	padding: 16px 24px;
}

.guide-link-item {
	text-decoration: none;
	font-size: 13px;
	font-weight: 500;
	color: #606060;
}

.copyright {
	padding: 16px 24px;
	font-size: 13px;
	font-weight: 400;
	line-height: 1.1rem;
	color: #909090;
}


/* header */
.header {
	background-color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 56px;
	padding: 0 16px;
}

.header-left{
	display: flex;
	justify-content: left;
	align-items: center;
	flex-grow: 0;
	flex-shrink: 0;
}

.header-center {
	display: flex;
	justify-content: center;
	padding: 0 10%;
	margin-left: 40px;
	width: 70%;
	flex-grow: 0;
	flex-shrink: 1;
	flex-basis: 728px;
}

@media (max-width: 657px) {
	.header-center {
		display: none;
	}
}

.header-right {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-grow: 0;
	flex-shrink: 0;
}

.menu-icon {
	fill : #606060;
	height: 40px;
	width: 40px;
	padding: 8px;
	margin-right: 16px;
}

.header-logo {
	text-decoration: none;
	height: 40px;
	display: flex;
	align-items: center;
}

.header-logo-icon {
	fill: #FF0000;
	height: 25px;
}

.header-logo-title {
	color: black;
	height: 25px;
	font-weight: 900;
	-webkit-transform:scale(1,1.5); /* Safari and Chrome */
	-moz-transform:scale(1,1.5); /* Firefox */
	-ms-transform:scale(1,1.5); /* IE 9 */
	-o-transform:scale(1,1.5); /* Opera */
	transform:scale(1,1.5); /* W3C */
}

.header-logo-title > sup {
	color: #606060;
	font-weight: 500;
}

.search-input {
	background-color: #FFFFFF;
	border-left: 1px solid #D3D3D3;
	border-top: 1px solid #D3D3D3;
	border-bottom: 1px solid #D3D3D3;
	border-right: 0;
	display: flex;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 1e-9px;
}

.search-button {
	display: flex;
	background-color: #F8F8F8;
	border: 1px solid #D3D3D3;
	width: 60px;
	flex-grow: 0;
	flex-shrink: 0;
}

.header-item {
	display: flex;
	align-items: center;
}

.header-icon {
	height: 24px;
	width: 24px;
	margin-right: 24px;
	fill: #606060;
}

.name-button {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	height: 32px;
	width: 32px;
	margin: 10px;
	background: #689F39;
	color: white;
	border-radius: 50%;
	font-size: 10px;
	flex-shrink: 0;
}